.THIS .account_title h3 {
    font-weight: 600;
}

.THIS .acc-desc {
	margin-top: .5rem;
}

.THIS .my-divider {
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid #d4d4d4;
}

.THIS .goto-account {
    margin-top: .75rem;
    text-align: right;
}

.THIS .static_map_wrap {
    width: 100%;
}